{% from "macros/style.html" import render_styles %}
{% from "macros/footer.html" import render_footer %}
<!DOCTYPE html>
<html>
<head>
    <title>Seznam tanečníků</title>
    {{ render_styles() }}
</head>
<body>
    <h1>Seznam tanečníků</h1>
    <a href="/add">
        <button>Přidat tanečníka</button>
    </a>
    <p>Vítejte na stránce pro správu profilů tanečníků. Pro přidání tanečníka, klikněte na tlačítko <b>Přidat tanečníka</b>. Níže můžete vidět tanečníky, kteří jsou již v databázi.</p>
    <table border="1">
        <tr>
            <th>Jméno</th>
            <th>Počet bodů v latině</th>
            <th>Počet bodů ve standartu</th>
            <th>Akce</th>
        </tr>
        {% for zaznam in zaznamy %}
        <tr>
            <td>{{ zaznam.jmeno }}</td>
            <td>{{ zaznam.lat }}</td>
            <td>{{ zaznam.stt }}</td>
            <td class="akce">
                <form action="{{ url_for('routes.smazat', id=zaznam.id) }}" method="POST">
                    <button type="submit">Smazat</button>
                </form>
                <a href="/edit/{{zaznam.id}}">
                    <button type="submit">Upravit</button>
                </a>
                
            </td>
        </tr>
        {% endfor %}
        {% if zaznamy|length == 0 %}
        <tr>
            <td colspan="4">Žádní tanečníci</td>
        </tr>
        {% endif %}
    </table>
    {{ render_footer(now) }}
</body>
</html>
